.dropbox-access {
  margin: 2rem 0 1rem;

  .dropbox-logo {
    text-align: center;

    .dropbox-logo__glyph {
      display: inline-block;
      height: 46px;
      width: 39px;
      vertical-align: middle;
    }

    .dropbox-logo__type {
      display: inline-block;
      width: 120px;
      height: 34px;
      position: relative;
      top: 2px;
      margin-left: 8px;
      vertical-align: middle;
      background: no-repeat center center;
      background-size: 120px auto;
    }
  }
}
