body {
  background-color: #282c34;
}

.todo-app {
  height: calc(100vh - 2rem);
  margin: 1rem 0;
  background-color: #fff;
  border-radius: 5px;
}

.app-title {
  margin: 1rem 0;
  color: #ff2968;
}
